* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "微软雅黑";
  font-size: 14px;
  background: #F5F5F5;
  height: 100%;
}
.joy-header img {
  width: 100%;
}
.joy-categories {
  margin-top: -4px;
  margin-bottom: 10px;
  background: #f5f5f5;
}
.joy-categories h3 {
  width: 100%;
  text-align: center;
  color: #2a2a2a;
  height: 100px;
  line-height: 100px;
}
.joy-categories ul {
  width: 980px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dfdfdd;
  background: #fff;
}
.joy-categories ul li {
  list-style: none;
  float: left;
  margin-left: 20px;
}
.joy-categories ul li a {
  text-decoration: none;
  color: #2A2A2A;
}
.joy-categories ul .active {
  background: #41a3dc;
  color: #fff;
  border-radius: 8px;
  padding: 2px 4px;
}
.joy-categories ul .classify {
  font-size: 15px;
  color: #444;
}
.joy-categories .second-list {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border-bottom: none;
}
.joy-categories .second-list img {
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 20px;
}
.joy-categories .slideToggle {
  height: 100px;
}
.joy-content {
  margin-top: 10px;
  width: 980px;
  margin: 0 auto;
  background: #fff;
}
.joy-content ul li {
  width: 33.33%;
  float: left;
  text-align: center;
  list-style: none;
}
.joy-content ul li .hover-bg {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.joy-content ul li .hover-bg:hover .hover-text {
  opacity: 1;
}
.joy-content ul li .hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 0;
  height: 300px;
  width: 52%;
  opacity: 0;
  transition: all 0.5s;
  left: 0;
  right: 0;
  margin-top: 53px;
}
.joy-content ul li .hover-bg .hover-text a {
  display: inline-block;
}
.joy-content ul li .hover-bg .hover-text img {
  padding-top: 50%;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  padding: 0;
  margin-top: 90px;
  transition: 0.6s;
}
.joy-content ul li .hover-bg .hover-text img:hover {
  box-shadow: 0 0 10px #41A3DC;
}
.joy-content ul li img {
  width: 60%;
  padding: 6px 0 0;
}
.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.joy-edit-content {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  height: 100%;
}
.joy-edit-content h3 {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.joy-edit-content .joy-edit-main {
  width: 295px;
  margin: 0 auto;
  position: relative;
}
.joy-edit-content .joy-add {
  position: absolute;
  top: 30%;
  left: 40%;
}
.joy-edit-content .joy-add img {
  width: 50%;
}
.joy-edit-content .preview {
  position: absolute;
  display: block;
  width: 40px;
  top: 30%;
  left: 50%;
  margin-left: -20px;
  text-decoration: none;
  background: #41A3DC;
  color: #fff;
  text-align: center;
  padding: 6px 4px;
  border-radius: 2px;
  border: 1px solid #fff;
}
.joy-alert h4 {
  text-align: center;
  padding: 10px 0;
  color: #4898d5;
  font-weight: normal;
}
.joy-alert h4 img {
  vertical-align: middle;
}
.joy-alert-list .current {
  background: url(../img/icon-1.png) center center no-repeat;
  background-size: 58%;
}
.joy-alert-list li {
  float: left;
  list-style: none;
  width: 25%;
  cursor: pointer;
  text-align: center;
  background: url(../img/icon.png) center center no-repeat;
  background-size: 58%;
  height: 104px;
}
.joy-alert-list li img {
  width: 70px;
  margin-top: 16px;
}
.joy-btn {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.joy-btn a {
  display: inline-block;
  background: #41A3DC;
  width: 80px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  text-decoration: none;
}
.joy-img-center {
  position: relative;
  margin: -6px 0 -6px 0;
}
.joy-img-header img {
  width: 296px;
}
.joy-img-footer {
  position: relative;
}
.joy-img-footer img {
  width: 295px;
}
.joy-add-ls {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.joy-add-ls .joy-close {
  float: left;
  width: 17%;
  position: relative;
  cursor: pointer;
  border: 1px dashed #41a3dc;
  margin-right: 9px;
  margin-top: 3px;
  text-align: center;
}
.joy-add-ls .joy-close:nth-child(5) {
  margin-left: 27px;
}
.joy-add-ls .joy-close:nth-child(1) {
  margin-left: 27px;
}
.joy-add-ls .joy-close span {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #009F95;
  right: -8px;
  top: -3px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border: 1px solid #DB384C;
  border-radius: 50%;
}
.joy-add-ls .joy-close span::before,
.joy-add-ls .joy-close span::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60%;
  top: 48%;
  left: 3px;
  margin-top: -1px;
  background: #db384c;
}
.joy-add-ls .joy-close span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.joy-add-ls .joy-close span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.joy-add-ls .addImg {
  border: none;
}
.joy-add-ls .addImg img {
  width: 90%;
}
.joy-add-ls img {
  width: 80%;
  padding: 2px;
}
.pre-bg3 {
  position: absolute;
  top: 69px;
  width: 295px;
  text-align: center;
}
.pre-bg3 img {
  width: 254px;
}
.btn-ok {
  display: block;
  position: absolute;
  width: 100px;
  bottom: 116px;
  height: 34px;
  border: 1px solid #fff;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
  text-decoration: none;
  line-height: 34px;
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=joy-style.css.map */
